@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #141a23;
  --nt-color: #eeeeee;
  --pm-color: #4080ff;
  --sd-color: #40ff8c;
  --sd2-color: #40ff8c22;
  --ft-color: #1b1e28;
  --ft2-color: #2e3a4d;
  --ac-color: #ff5e5e;

  --serif-font: "Lora", serif;
  --sans-font: "Inter", sans-serif;
  --mono-font: "JetBrains Mono", monospace;
}

.pm-color {
  color: var(--pm-color);
}

.sd-color {
  color: var(--sd-color);
}

.bg-color {
  color: var(--bg-color);
}

.ft-color {
  color: var(--ft-color);
}

.ft2-color {
  color: var(--ft2-color);
}

.nt-color {
  color: var(--nt-color);
}

.serif-font {
  font-family: var(--serif-font);
}

.sans-font {
  font-family: var(--sans-font);
}

.mono-font {
  font-family: var(--mono-font);
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  color: var(--nt-color);

  font-family: var(--sans-font);
}

code {
  font-family: var(--mono-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--serif-font);
  color: var(--pm-color);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.7rem;
}

p {
  font-size: 1.2rem;
  margin: 1rem 0rem;
}

a {
  color: var(--pm-color);
  transition: all 0.1s ease-in-out;
}

a:hover {
  text-decoration: underline;
}

li {
  font-size: 1.2rem;
}

ol > li {
  margin: 1rem 3rem;
  list-style-type: decimal;
}

ol > li::marker {
  color: var(--nt-color);
  font-family: var(--mono-font);
}

ul {
  direction: rtl;
}

ul > li {
  list-style-type: circle;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

pre {
  display: grid;
  padding: 1rem;
  border-radius: 0.5rem;
}

:not(pre) > code {
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: #1b1e28;
  /* color: #5de4c7; */
  font-size: 1rem;
}

pre > code .highlighted {
  background-color: var(--sd2-color);
  border-left: 2px solid var(--sd-color);
  padding: 0.3rem 1rem;
  transform: translateX(-1rem);
}

hr {
  border: 1px dashed var(--ft2-color);
  margin: 2rem 0rem;
}

table {
  border-collapse: collapse;
  margin: 1rem 0rem;
}

th {
  text-align: left;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ft2-color);
  background-color: var(--ft-color);
}

td {
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ft2-color);
}

tr {
  border: 1px solid var(--ft2-color);
}

.katex {
  width: 95%;
}

img {
  margin: 0rem auto;
}

em {
  color: var(--sd-color);
}

blockquote {
  padding: 0.2rem 1.2rem;
  border-left: 2px solid var(--sd-color);
  background-color: var(--ft-color);
  margin: 2rem 0rem;
}

blockquote span.title {
  font-size: 1.2rem;
  color: var(--sd-color);
  font-family: var(--mono-font);
  display: block;
}

blockquote span.title::before {
  content: "!";
  padding-right: 0.5rem;
}
