---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Logo from '@/components/Logo.astro';

const ideas = await Astro.glob('@/pages/ideas/**/*.mdx');
---

<BaseLayout title="Ideas">
  <header class="p-5">
    <Logo />
  </header>

  <main class="px-5">
    {ideas.map((idea) =>
      <a href={idea.url} class="nt-color">
        <h1 class="pm-color">{idea.frontmatter.title}</h2>
        <p class="opacity-60">{idea.frontmatter.description}</p>
        <hr class="my-5 opacity-20" />
      </a>
    )}
  </main>
</BaseLayout>
