---
const { href } = Astro.props;
---

<a href={href} target="_blank" >
  <slot />
</a>

<iframe 
  class="hidden lg:block fixed top-[50vh] -translate-y-1/2 lg:left-[55vw] xl:left-[45vw] z-50 inline-block border border-1 border-gray-500 rounded-xl lg:w-[35%] xl:w-[35%] h-[80vh] "
  src={href} 
  frameborder="0" 
  >
</iframe>

<style>
  iframe {
    display: none;
    opacity: 0;
  }

  a:hover + iframe,
  iframe:hover {
    display: block;
    animation: fadeIn 0.5s;
    opacity: 1;
  }
</style>
